.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  width: 320px;
  border-radius: 20px 20px 0px 0px;
  margin: 20px;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  margin: 2px 10px 0px 10px;
  text-align: left;
}

.d-flex {
  display: flex;
}

.row-1 {
  align-items: center;
}

.row-4 {
  margin: 15px 0 15px 0;
  font-size: 13px;
  color: gray;
}

.svg:hover * {
  fill: green;
}

.f-grow {
  flex-grow: 1;
}

.old-price {
  text-decoration: line-through;
}

.svg {
  margin-left: 10px;
}

.price {
  font-weight: 700;
  font-size: 25px;
}

.title {
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
}

.main-container {
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-size: 40px;
  margin-left: 10%;
  font-weight: 800;
  margin-bottom: 0;
}

.not-display {
  display: none;
}

/* spinner */
.pos-center {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}